a.list-group-item-disabled, button.list-group-item-disabled {
    color: #777;
}
a.list-group-item, button.list-group-item {
    color: #555;
}

.list-group-item-disabled {
    color: #777;
    background-color: #eee;
}

.cont:hover{
	background-color: #ffd24d;
	cursor: pointer;
}

.proceso:hover{
	background-color: #ffd24d;
	cursor: pointer;
}


.afectacion strong{
	font-size: 14px !important;
}

.bg-proceso{
	background-color:#d73232;
	color: #FFF;
}