body{
	background-color:#fafafa !important;
}
.fondo-gris{
	background-color:#fafafa !important;
}
#container-tablero{
	margin-top: -40px;
}
.border {
	margin: 1px;
	border: 1px solid #e0e0e0;
	background-color:#FFF !important;
	/*margin: 2px !important;*/
}
#en_proceso, #sol_nuevas{
	text-align: center;
	font-size: 20px;
}

.tr-link:hover{
	background-color: #fbc912 !important;
	cursor: pointer;
}

.td-link:hover{
	background-color: #fbc912 !important;
	cursor: pointer;
}

#en_proceso:hover{
	background-color: #fbc912 !important;
	cursor: pointer;
}