<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="{CSS}">
</head>
<body>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8" style="background: #2a2b31;padding:30px 0 20px 0;">
			<center>
				<p style="color:#00a1e1;font-size:20px;">{TITLE}</p>
				<br>
				<p style="padding:0 0 35px 0;font-size:15px;font-family:Helvetica,Arial,sans-serif;color:#ffffff;" align="center">{HEADER}</p>
			</center>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8" style="background: #F5F7FA;padding:30px 15px 30px 15px;">
			<center>
				<p style="padding:0 0 30px 0;font-size:14px;font-family:Helvetica,Arial,sans-serif;color:#000000;text-decoration:none" align="center">{BODY}</p>
				<br>
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-8" style="padding:0 0 10px 0;border-radius:3px;background-color:#1476fb; ">
						<center>
							<p style="font-size:20px; color: white;">{DJSG}</p>
						</center>
					</div>
					<div class="col-md-2">
					</div>
				</div>
			</center>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8" style="padding:30px 15px 30px 15px; background-color: #D6D9DD;">
			<center>
				<p style="padding:0 0 0 0;font-size:14px;font-family:Helvetica,Arial,sans-serif;color:#000000" align="center">{FOOTER_BODY}</p>
				<br>
			</center>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8" style="">
			<center>
				<p style="font-size:12px;line-height:18px;font-family:Helvetica,Arial,sans-serif;color:#666666" align="center">{FOOTER}</p>
			</center>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<br><br><br>
	<div class="row">
		<p>Infinitum. Exceso de Velocidad.<br>

    -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<br>

    AVISO DE CONFIDENCIALIDAD:

    Este correo electrónico, incluyendo en su caso, los archivos adjuntos al mismo, pueden contener información de carácter confidencial y/o privilegiada, y se envían a la atención única y exclusivamente de la persona y/o entidad a quien va dirigido. La copia, revisión, uso, revelación y/o distribución de dicha información confidencial sin la autorización por escrito de Teléfonos de México SAB de CV está prohibida. Si usted no es el destinatario a quien se dirige el presente correo, favor de contactar al remitente respondiendo al presente correo y eliminar el correo original incluyendo sus archivos, así como cualesquiera copia del mismo. Mediante la recepción del presente correo usted reconoce y acepta que en caso de incumplimiento de su parte y/o de sus representantes a los términos antes mencionados, Teléfonos de México SAB de CV tendrá derecho a los daños y perjuicios que esto le cause.</p>
	</div>
</body>
</html>