<!DOCTYPE html>
<meta charset="utf-8">
<html>
	<body>
		<center>
			<table width="80%" cellspacing="0" cellpadding="0" border="0">
				<tbody>
					<tr class="titulo" id="titulo">
						<td bgcolor="#2a2b31" align="center">  
							<table style="max-width:750px" width="100%" cellspacing="0" cellpadding="0" border="0"> 
								<tbody>
									<tr>
										<td height="55" align="center" style="color:#00a1e1;font-size:20px; font-weight:bold; line-height:34px;">
											{TITLE}
										</td>
									</tr> 
								</tbody>
							</table>
						</td>
					</tr>
					<tr class="header" id="header">
						<td bgcolor="#2a2b31" align="center">
							<table style="max-width:650px" width="100%" cellspacing="0" cellpadding="0" border="0">
								<tbody>
									<tr>
										<td>
											<table width="100%" cellspacing="0" cellpadding="0" border="0">
												<tbody>
													<tr>
													</tr>
													<tr>
														<td>
															<table width="100%" cellspacing="0" cellpadding="0" border="0">
																<tbody>
																	<tr>
																		<td height="55" align="center" style="font-size:20px;font-family:Helvetica,Arial,sans-serif;color:#ffffff; font-weight:bold; line-height:34px;">
																			{HEADER}
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr class="body" id="body">
						<td style="padding:30px 15px 30px 15px" bgcolor="#F5F7FA" align="center">
							<table style="max-width:550px" width="100%" cellspacing="0" cellpadding="0" border="0">
								<tbody>
									<tr>
										<td>
											<table width="100%" cellspacing="0" cellpadding="0" border="0">
												<tbody>
													<tr>
														<td style="padding:0 0 30px 0;font-size:14px;font-family:Helvetica,Arial,sans-serif;color:#000000;text-decoration:none" align="center">
															<p style="padding:0 0 30px 0;font-size:14px;font-family:Helvetica,Arial,sans-serif;color:#000000;text-decoration:none" align="center">
																{BODY}
															</p>
															<br>
														</td>
													</tr>
													<tr>
														<td align="center">
															<table width="100%" cellspacing="0" cellpadding="0" border="0">
																<tbody>
																	<tr>
																		<td style="padding:0 0 10px 0" align="center">	<table cellspacing="0" cellpadding="0" border="0">
																			<tbody>
																				<tr>
																					<td align="center" bgcolor="#1476fb" style="border-radius:5px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:24px">
																						{DJSG}
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr class="footer_body" id="footer_body">
					<td style="padding:10px 5px 10px 5px" bgcolor="#D6D9DD" align="center">
						<table style="max-width:550px" width="100%" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td>
										<table width="100%" cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													<td style="padding:0 0 0 0;font-size:14px;font-family:Helvetica,Arial,sans-serif;color:#000000" align="center">
														<center>
															<p style="padding:0 0 0 0;font-size:14px;font-family:Helvetica,Arial,sans-serif;color:#000000" align="center">
																{FOOTER_BODY}
															</p>
														</center>
														<br> 
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr class="footer" id="footer">
					<td style="padding:20px 0px" bgcolor="#ffffff" align="center">
						<table style="max-width:550px" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
							<tbody>
								<tr>
									<td style="font-size:12px;line-height:18px;font-family:Helvetica,Arial,sans-serif;color:#666666" align="center">
										<p style="font-size:12px;line-height:18px;font-family:Helvetica,Arial,sans-serif;color:#666666" align="center">
											{FOOTER}
										</p>
									</td>
								</tr>
								<tr>
									<td style="display:none;font-size:1px;color:#ffffff;line-height:1px;font-family:Helvetica,Arial,sans-serif;max-height:0px;max-width:0px;opacity:0;overflow:hidden"> 
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</center>
	<br><br><br>
	<div class="row">
		<p>Infinitum. Exceso de Velocidad.<br>

    -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    <br>

    AVISO DE CONFIDENCIALIDAD:

    Este correo electrónico, incluyendo en su caso, los archivos adjuntos al mismo, pueden contener información de carácter confidencial y/o privilegiada, y se
    envían a la atención única y exclusivamente de la persona y/o entidad a quien va dirigido. La copia, revisión, uso, revelación y/o distribución de dicha
    información confidencial sin la autorización por escrito de Teléfonos de México SAB de CV está prohibida. Si usted no es el destinatario a quien se dirige el
    presente correo, favor de contactar al remitente respondiendo al presente correo y eliminar el correo original incluyendo sus archivos, así como cualesquiera
    copia del mismo. Mediante la recepción del presente correo usted reconoce y acepta que en caso de incumplimiento de su parte y/o de sus representantes a los
    términos antes mencionados, Teléfonos de México SAB de CV tendrá derecho a los daños y perjuicios que esto le cause.
    </p>
	</div>
</body>
</html>
