<meta charset='utf-8'>
<h2>
<font color='#0282EB' face='Calibri'>
	<img src ='http://13.134.108.131:81/tmx/img/logo.png' align = 'right' width = '90' heigth = '75'></img>
	<br><br>
	{TITLE}
</font>
</h2>

<br />

<style type='text/css'>
 #tabla_mail {
	background:#FFF;
	width:75%;
	font-family: Calibri;
	font-size:18px;							
	}
td, th {
	background-color: #D8D8D8;
	font-size:14px;
	padding: 15px;
	border-bottom: 1px solid #ddd;
}					 
</style>

<font face='Calibri'>
	<i>
		<center>
			<strong>
			{HEADER}<br />
			_______________________________________________________________________
			</strong>
		</center>
		<br /><br>
	</i>
</font>


<hr width='100%' color='#0282EB'>
<br />
<table id='tabla_mail' align='center'>
	<tr  align='center'>
		<th style='background-color:#0282EB; color:#000000;'>Ele</th>
		<th style='background-color:#0282EB; color:#000000;'>Ref Solicitante</th>
		<th style='background-color:#0282EB; color:#000000;'>Nombre de la Evaluaci&oacute;n</th>
		<th style='background-color:#0282EB; color:#000000;'>Dirigido a</th>
		<th style='background-color:#0282EB; color:#000000;'>Siglas Cliente</th>
		<th style='background-color:#0282EB; color:#000000;'>Proveedor</th>
		<th style='background-color:#0282EB; color:#000000;'>Tipo Solicitud</th>
		<th style='background-color:#0282EB; color:#000000;'>Prioridad</th>
		<th style='background-color:#0282EB; color:#000000;'>Fecha Solicitud</th>
		<th style='background-color:#0282EB; color:#000000;'>Fecha Compromiso</th>
	</tr>
	{BODY}
</table>
<br />
<font face='Calibri' ><i>Favor de registrar los siguientes datos en sistema: <br /></font></i>
<ul>
	<li>Subgerente</li>
	<li>Ingeniero</li>
	<li>Nuevo</li>
	<li>T&eacute;cnologia/Equipo</li>
	<li>Proyecto Asociado</li>
	<li>Mercado</li>
	<li>Nuevo Producto</li>
	<li>Tipo Poducto</li>
</ul>
<font face='Calibri' ><i>Acceso: <a href='http://13.134.108.131:81/application/'>http://13.134.108.131:81/application</a><br /></font></i>
<br />
	<hr width='100%' align='left' color='#0282EB'>	
<br />

<font face='Calibri' ><i>FAVOR DE NO RESPONDER ESTE MENSAJE. <br /></font></i>